<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style type="text/css">
      .u-row {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
      }

      .u-row .u-col {
        position: relative;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }

      .u-row .u-col.u-col-100 {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @media (max-width: 767px) {
        .u-row:not(.no-stack) {
          flex-wrap: wrap;
        }

        .u-row:not(.no-stack) .u-col {
          flex: 0 0 100% !important;
          max-width: 100% !important;
        }
      }

      body,
      html {
        padding: 0;
        margin: 0;
      }

      html {
        box-sizing: border-box;
      }

      *,
      :after,
      :before {
        box-sizing: inherit;
      }

      html {
        font-size: 14px;
        -ms-overflow-style: scrollbar;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      p {
        margin: 0;
      }

      form .error-field {
        -webkit-animation-name: shake;
        animation-name: shake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      form .error-field input,
      form .error-field textarea {
        border-color: #a94442 !important;
        color: #a94442 !important;
      }

      form .field-error {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        top: -20px;
        right: 10px;
      }

      form .field-error:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #ebcccc;
        border-width: 5px;
        margin-left: -5px;
      }

      form .spinner {
        margin: 0 auto;
        width: 70px;
        text-align: center;
      }

      form .spinner > div {
        width: 12px;
        height: 12px;
        background-color: hsla(0, 0%, 100%, 0.5);
        margin: 0 2px;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }

      form .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }

      form .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }

      @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        to {
          -webkit-transform: scale(0);
        }

        40% {
          -webkit-transform: scale(1);
        }
      }

      @keyframes sk-bouncedelay {
        0%,
        80%,
        to {
          -webkit-transform: scale(0);
          transform: scale(0);
        }

        40% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }

      @-webkit-keyframes shake {
        0%,
        to {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }

        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(10px, 0, 0);
          transform: translate3d(10px, 0, 0);
        }
      }

      @keyframes shake {
        0%,
        to {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }

        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(10px, 0, 0);
          transform: translate3d(10px, 0, 0);
        }
      }

      @media (max-width: 480px) {
        .container {
          max-width: 100% !important;
        }
      }

      @media (min-width: 481px) and (max-width: 768px) {
        .hide-tablet {
          display: none !important;
        }
      }

      .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
      }

      @media (min-width: 576px) {
        .container {
          max-width: 540px;
        }
      }

      @media (min-width: 768px) {
        .container {
          max-width: 720px;
        }
      }

      @media (min-width: 992px) {
        .container {
          max-width: 960px;
        }
      }

      @media (min-width: 1200px) {
        .container {
          max-width: 1140px;
        }
      }

      a[onclick] {
        cursor: pointer;
      }

      body {
        font-family: arial, helvetica, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #000000;
        background-color: #e7e7e7;
      }

      #u_body a {
        color: #0000ee;
        text-decoration: underline;
      }

      #u_body a:hover {
        color: #0000ee;
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <div id="u_body" class="u_body" style="min-height: 100vh">
      <div id="u_row_1" class="u_row" style="padding: 0px">
        <div class="container" style="max-width: 500px; margin: 0 auto">
          <div class="u-row">
            <div id="u_column_1" class="u-col u-col-100 u_column" style="display: flex; background-color: #933393; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc">
              <div style="width: 100%; padding: 0px">
                <div id="u_content_heading_4" class="u_content_heading" style="overflow-wrap: break-word; padding: 10px">
                  <h1 style="margin: 0px; line-height: 140%; text-align: center; word-wrap: break-word; font-size: 22px; font-weight: 700">
                    <span
                      ><span
                        ><span><span>TechAcademy</span></span></span
                      ></span
                    >
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="u_row_4" class="u_row" style="padding: 0px">
        <div class="container" style="max-width: 500px; margin: 0 auto">
          <div class="u-row">
            <div
              id="u_column_4"
              class="u-col u-col-100 u_column"
              style="display: flex; border-top: 0px solid transparent; border-left: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-radius: 0px">
              <div style="width: 100%; padding: 0px"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="u_row_2" class="u_row" style="padding: 0px">
        <div class="container" style="max-width: 500px; margin: 0 auto">
          <div class="u-row">
            <div
              id="u_column_2"
              class="u-col u-col-100 u_column"
              style="display: flex; border-top: 0px solid transparent; border-left: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-radius: 0px">
              <div style="width: 100%; padding: 0px">
                <div id="u_content_text_1" class="u_content_text" style="overflow-wrap: break-word; padding: 10px">
                  <div style="font-size: 18px; line-height: 140%; text-align: left; word-wrap: break-word">
                    <p style="line-height: 140%">Hallo <strong><%=fullName%></strong>,</p>
                    <p style="line-height: 140%">Berikut kode OTP yang digunakan untuk verifikasi lupa password:</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="u_row_5" class="u_row" style="padding: 0px">
        <div class="container" style="max-width: 500px; margin: 0 auto">
          <div class="u-row">
            <div
              id="u_column_5"
              class="u-col u-col-100 u_column"
              style="display: flex; border-top: 0px solid transparent; border-left: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-radius: 0px">
              <div style="width: 100%; padding: 0px">
                <div id="u_content_text_2" class="u_content_text" style="overflow-wrap: break-word; padding: 10px">
                  <div style="font-family: arial black, AvenirNext-Heavy, avant garde, arial; font-size: 20px; font-weight: 700; line-height: 140%; text-align: center; word-wrap: break-word">
                    <p style="line-height: 140%"><%=otp%></p>
                  </div>
                </div>

                <div id="u_content_divider_2" class="u_content_divider" style="overflow-wrap: break-word; padding: 10px">
                  <div style="text-align: center; line-height: 0">
                    <div style="border-top-width: 1px; border-top-style: solid; border-top-color: #000000; width: 100%; display: inline-block; line-height: 1px; height: 0px; vertical-align: middle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="u_row_6" class="u_row" style="padding: 0px">
        <div class="container" style="max-width: 500px; margin: 0 auto">
          <div class="u-row">
            <div
              id="u_column_6"
              class="u-col u-col-100 u_column"
              style="display: flex; border-top: 0px solid transparent; border-left: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-radius: 0px">
              <div style="width: 100%; padding: 0px">
                <div id="u_content_text_3" class="u_content_text" style="overflow-wrap: break-word; padding: 10px">
                  <div style="font-size: 14px; line-height: 140%; text-align: left; word-wrap: break-word">
                    <div>Kode diatas hanya berlaku selama 5 menit. Harap segera masukan kode tersebut pada web TechAcademy.</div>
                    <div>Demi menjaga kerahasiaan data kamu, mohon jangan membagikan kode OTP ke siapapun.</div>
                    <div>Jika anda tidak meminta kode tersebut silahkan abaikan pesan ini.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
